/* MyCalendarStyles.css */
/* Overall calendar container */
.react-calendar {
    font-family: 'Arial', sans-serif;
    width: 500px;
    max-width: 100%;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Header styling */
  .react-calendar__navigation {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #2980b9;
  }
  
  /* Navigation buttons */
  .react-calendar__navigation__arrow {
    background-color: #2980b9;
  }
  
  /* Month and year label */
  .react-calendar__navigation__label {
    font-size: 18px;
  }
  
  /* Weekday labels */
  .react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-around;
    background-color: #3498db;
    color: #ffffff;
    padding: 5px 0;
  }
  
  /* Day tile styling */
  .react-calendar__tile {
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  /* Styling for the selected day */
  .react-calendar__tile--active {
    background-color: #3498db;
    color: #ffffff;
  }
  
  /* Styling for the today's date */
  .react-calendar__tile--now {
    background-color: #3498db;
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Styling for the day when the mouse is over it */
  .react-calendar__tile--hover {
    background-color: #40a1b9;
  }
  
  /* Styling for the days outside the current month */
  .react-calendar__tile--inactive {
    color: #bdc3c7;
  }
  
  /* Styling for the days in the adjacent months */
  .react-calendar__tile--out-of-month {
    color: #ecf0f1;
  }
  
  /* Styling for the day of the week label in the month view */
  .react-calendar__month-view__days__day--weekend {
    color: #e74c3c;
  }
  
  /* Styling for the day of the week label in the month view */
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #ecf0f1;
  }
  