/* ./src/components/login-component/loginform.module.css */

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .formContainer {
    width: 300px; /* Set a fixed width */
    padding: 40px 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content */
  }
  
  .inputGroup {
    margin-bottom: 20px;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  /* Styling for the h1 heading */
  .heading {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Styling for the error message */
  .error {
    color: red;
    margin-bottom: 20px;
  }

  
  